<!DOCTYPE html>
<html>
 <head>
    <title>Youngstown, Boardman, Canfield, Poland Ohio in-home personal training</title>
  
  <meta name"description" content="In-home Personal Training. Let the gym come to you. Youngstown, Poland, Boardman, and Canfield Ohio. 2015 New Years weight loss and fitness goals.">
  <meta name= "robots" content= "Index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>


<body>

	<div class="row">
		<div class="col-lg-12'">
			<header class="TopSite">

	<h2 style="color:white">Jones</h2>
	<h2 style="color:white">Personal Training</h2> 
	<br>
	<br>
	<br>
		<br>
	<h3 style="color:white">"They all laughed when I said I was going to lose weight for my New Years resolution -</h3> <h3 style="color:white">But when they saw me 6 month's later!!!"</h3>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h5 style="color:white">(Youngstown, Poland, Boardman, Canfield areas)</h5>
		</header> 
</div>
	</div>
		


	<section class="row"> 
		<div class="container">
			<div class="video">
				   <div class="embed-responsive embed-responsive-16by9">
	<iframe width="420" height="315" src="//www.youtube.com/embed/sP9ljGKqvYc" frameborder="0" allowfullscreen></iframe>
	</section> 
		</div>
			</div>
				   </div>



	<hr>
	</section> 


  <div class="row">
  	<div class="col-lg-12'">
  	<div class="container">
  <div class="about-section">

      <h3 class="red">About Jones Personal Training</h3>
      <p>Jones Personal Training is a personal training service that comes to your home to help you (even if you are total beginner) reach your health and fitness goals. When you call we will: discuss over the phone what your fitness goals are, what mindset you should be in before day 1 even begins to set you up for success, and if you decide that this is for you; we will schedule a day and a time to workout together.</p>


    </div>
  </div>
</div>
</div>
<hr>





	<div class="container">
	<div class="row">
       <div class="col-md-4">	
       

			<h4>Who it's for:</h4>
				<ul>
					<li>Complete Beginners</li>
					<li>Looking for lasting results</li>
					<li>Trouble staying motivated</li>
					<li>Can't find time to get to the gym</li>
					<li>Don't want to workout in a crowded gym</li>
				</ul>	
	   </div>

   	<div class="col-md-4">
		<h4>What will do:</h4>
			<ul> 
				<li>1-3 training sessions per week</li>
				<li>40-45 min workout sessions</li>
				<li> Stretching/injury prevention exercises</li>
				<li>strengthening/toning exercises</li>
				<li>Fat burning exercises</li>
				<li>Set goals to set you up for success
				</li>
			</ul>
    </div>
		
    <div class="col-md-4">
		<h4>What you need:</h4>
			<ul>
			<li>No Workout Equipment needed</li>
			<li>Open space of 6 by 8 or more</li>
			<li>Comfortable workout clothes</li>
			<li>Comfortable workout shoes</li>

			</ul>

	</div>
		</div>
			</div>

<hr>


	<div class="row">
	<div class="col-lg-12'">
	<div class="container">
	<div class="copy">

			<h2 class="adcopy">Money is the most desired - But Health is the most enjoyed; </h2>
			<br>
			<br>
			<p>Everybody wants to get into shape, but few people know how to stay motivated long enough to do so.
				<br>
				<br>
		And I can really empathize, because from Infomercials to various YouTube videos, and endless classes at gyms, there are just too many resources that leave you wondering “Where is all this exercise stuff going?”
		<br>
		<br>
		The hardest part about getting into shape is having the motivation to stick with it.
		<br>
		<br>
		And over the years of being a personal trainer; I found that the individuals who are successful at reaching their fitness goals are the ones who stay committed.
		<br>
		<br>
		 I believe that there is a right way and a wrong way to go about staying committed to a fitness program. <br>
		<br>
		 And much of that comes down to how you set your goals "Before" you even start working out.  
		<br>
		<br>
		A goal of "I want to lose 20 lbs." (or any concrete number), or things like "I just want to get more toned" are setting you up for failure "Before" you even start. Those are good goals for someone who has already made exercising a habit. 
		<br> 
		<br>
		And the reason is that with losing weight (or any fitness goal) it's a 2 step forward; 1 step back process. 
		<br>
		<br>
		 This can get frustrating and discouraging at first. 
		 <br>
		 <br>
		 What happens is all the inspiration and excitement, you have when you first start. When your mindset is "I get to transform myself into a better version of me" can slide into "I got to exercise today; I'm so far away from where I want to be." in hurry if you're not careful.
		 <br>
		 <br> 
		 And there's a big difference between "I get to" and "I got to". Once the excitement of "I get to" turns into "I got to" defeat is right around the corner.
		 <br> 
		 <br>
		 But here's why you are going to achieve your New Year's resolution this year. Because we're going to get started off right this 2015 New Year. Even before your first workout. We're going to set the correct goals, and have you in success mindset that will allow you to reach your health and fitness goals to make you the best version of you possible. 
		 <br>
		 <br>
		 What I ask from you is that all you worry about is getting to, and through the next workout. Commit to one week at a time, and leave the results to me. And together we will achieve your fitness goals.
		 <br> 
		 <br>
		 So call today, and let's begin this journey of reaching your New Year's weight loss goals. 
		</p>



	</div>
	</div>
	</div> 
	</div>


	<hr>


		<div class="container">
			<div class="row">
       			<div class="col-md-6">	

	<h2>Monthly pricing:</h2> 

	<ul>
		<li>1 session per week:  Price = $160 (equal to $40 per session)</li>
		<li>2 sessions per week: Price = $280 (equal to $35 per session)</li>
		<li>3 sessions per week: price = $360 (equal to $30 per session)</li> 
	</ul>

				</div>
			
	



	
				<div class="col-md-6">
	
		<h2>Call Brian Jones today<span style="color:red"> 330-718-5271<span></h2>
	<ul>
		<li><small>All questions you have for more information are welcomed via phone.</small></li>
	</ul>

				

		</div>
			</div>
				</div>

<hr>


</body>
</html>
