<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

      <meta name="robots" content="noindex, follow">
  </head>
  <body>



 <header class="TopSite"> 
	<h1>Jones Training</h1>
	<h3>In-Home Personal Training</h3>
	<h4>We come to you(Home or Work)</h4>
	<h5>See the results you want in 2015</h5>
	<br>
	<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
		<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		<br>
	<br>

</header> 
 

<section class="VideoSection"> 


<video src="LebronBands.ogg" controls></video> 
<pre>
1.) Video learn how to save the file in site folder. 
2,) Learn to paste it, and add the bottom controls to the video> (in book, not hard) 
3.) Center it 
4.) Title the video 
5.) Points 
- accountability 
- time 
</pre>
<pre>$30 per session 
Monthly Pricing = 2 days a week of training ($200) 
Monthly Pricing = 3 days a week of training ($280) 
<small> Rates Apply to Boardman, Poland, Canfield areas.</small> 
</pre>
</section> 


<footer class="Site">
<hr>

	
	<div class="col_1">
	<h4 class="title">Jones Training</h4>
	<ul>
	<li>About Jones Training</li>
	<li>Contact Me</li>
	<li>Pricing</li>
	<li>Privacy</li>
	<li>Cancellation Policy</li>
	</ul>	
	</div> 
</div>

  <div class="col_2">
</ul>
<h4 class="title">Articles</h4>
<ul id="FooterList2"> 
	<li>Metabolic Damage</li>
	<li>Accountability</li>
	<li>The process of change</li>
	<li>How to build a new habit</li>
	<li>Energy Through Exercise</li>
</ul>
</div>
	

<div class="col_3">
<h4 class="title">Social</h4>
<ul id="FooterList4">
<li>Facebook</li>
<li>Twitter</li>
<li>Linkedin</li>
</ul>
</div class="bigwrapper">


</footer> 
</div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

