// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.TopSite  {
text-align:center;
background:url("yt_skyline.jpg");
background-size:100% 100%;
background-repeat:no-repeat;

}

.red {
	color:red;
	font-size:250%;
}






.video {
padding-top:35px;
text-align:center;
}

.about-section{
margin-left:15%;
padding-top:5px;
padding-bottom:70px;
}

.Site {
text-align:center;
background-color: #404040;
}

.copy {
margin-left:15%;
padding-bottom:70px;
}

.adcopy {
color:red;
padding-top:70px;
}

.pricing {
margin-left:15%;
padding-top:20px;
padding-bottom:70px;
}

.call {
text-align:center;
}









